.sidebar {
  width: 15rem;
  background: var(--gray-dark-200);
  height: 100vh;
  position: relative;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  svg {
    display: block;
  }

  .header {
    padding: 1rem;

    font-size: 1.25rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-weight: 600;
      text-decoration: none;

      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      font-family: "Orbitron", sans-serif !important;

      span,
      svg {
        color: var(--accent);
      }

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    .hamburgerMenu {
      cursor: pointer;
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;
      height: 2rem;
      width: 2rem;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background: var(--gray-light-100);

        .hline {
          animation: vanish 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
          &:nth-child(2) {
            animation-delay: 0.125s;
          }
          &:nth-child(3) {
            animation-delay: 0.25s;
          }
        }
      }

      .hline {
        width: 0.75rem;
        height: 2px;
        background: var(--foreground);
        border-radius: 0.5rem;

        position: absolute;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:nth-child(1) {
          left: 1rem;
          top: 0.5rem;
        }
        &:nth-child(2) {
          left: 0.75rem;
          top: 1rem;
        }
        &:nth-child(3) {
          left: 0.5rem;
          top: 1.5rem;
        }
      }
    }
  }

  .link {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    width: calc(100% - 2rem);
    margin-inline: auto;

    font-size: 0.825rem;
    font-weight: 600;

    border-radius: 0.5rem;

    position: relative;

    cursor: pointer;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background: var(--gray-light-100);

      svg {
        color: var(--foreground);
      }
    }
  }

  .tooltip {
    position: absolute;
    top: 0;
    left: 130%;
    z-index: 10;

    height: 2rem;
    padding: 0 1rem;

    visibility: hidden;

    border-radius: 0.5rem;

    display: grid;
    place-items: center;

    background: var(--gray-light-100);

    .tooltipText {
      white-space: nowrap;
    }

    &::before {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--gray-light-100) transparent transparent;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;

    svg {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      color: var(--gray-light-500);
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  .line {
    width: 100%;
    height: 1px;
    background: var(--gray-light-50);
    margin-block: 1rem;
  }

  .logOut {
    width: calc(100% - 2rem);
    margin-inline: auto;

    border: 0;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    background: var(--red);
    color: var(--foreground);

    cursor: pointer;

    font-weight: 600;

    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background: var(--red-dark);
    }

    .icon {
      svg {
        color: var(--foreground);
      }
    }
  }

  .footer {
    position: fixed;
    bottom: 1rem;
    width: 15rem;
    background: var(--gray-dark-200);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    .tooltip {
      background: var(--red);
      left: 100%;

      &::before {
        border-right-color: var(--red);
      }
    }
  }

  .projects {
    .dropdown {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: calc(100% - 2rem);
      margin-inline: auto;

      color: var(--gray-light-500);
      font-size: 0.925rem;

      cursor: pointer;

      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      padding-left: 0.5rem;

      border-radius: 0.5rem;

      &:hover {
        background: var(--gray-light-100);
        color: var(--foreground);
      }

      &:has(.dropdown__icon:hover) {
        color: var(--gray-light-500);
        background: initial;
      }

      .dropdown__icons {
        display: flex;
        align-items: center;
      }

      .dropdown__icon {
        width: 2rem;
        height: 2rem;

        display: grid;
        place-items: center;

        border-radius: 0.5rem;

        position: relative;

        &:hover {
          background: var(--gray-light-100);
          color: var(--foreground);
        }

        &:nth-child(1) {
          svg {
            width: 1.75rem;
            height: 1.75rem;
          }
        }

        svg {
          transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
          width: 1.25rem;
          height: 1.25rem;
        }
      }
    }
  }
}

.sidebar.closed {
  width: 4rem;

  .footer {
    width: 4rem;
  }

  .dropdown {
    padding: 0;
  }

  .logo,
  .text,
  .dropdown .title,
  .dropdown__icon:nth-child(1) {
    display: none;
  }

  .link:hover,
  .logOut:hover,
  .dropdown__icon:hover {
    .tooltip {
      visibility: visible;
    }
  }
}

@keyframes vanish {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  33% {
    opacity: 1;
    transform: translateX(200%);
  }

  66% {
    opacity: 0;
    transform: translateX(-200%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
