.messages {
  background-color: var(--gray);
  padding: 0.5rem;
  height: calc(100% - 88px);
  overflow: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .scrollDown {
    position: fixed;
    right: 1rem;
    bottom: 4rem;
    font-size: 1.75rem;
    color: var(--accent);
    border-radius: 50%;
    box-shadow: 8px 16px 16px var(--gray-dark-200);
    background-color: var(--gray-dark-200);
    cursor: pointer;
  }
}
