.input {
  height: 2rem;
  background-color: var(--gray-light-100);
  padding: 1.25rem 0.5rem 1.25rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    color: var(--accent);
    font-size: 1.025rem;

    &::placeholder {
      color: lightgray;
    }
  }

  .send {
    display: flex;
    align-items: center;
    gap: 0.625rem;

    svg {
      font-size: 1.125rem;
      cursor: pointer;
      color: var(--gray-light-500);

      &:hover {
        color: var(--gray-light-900);
        transform: scale(1.1);
      }
    }

    button {
      border: none;
      cursor: pointer;
      padding: 0.5rem 1rem;
      color: var(--gray-dark-900);
      background-color: var(--accent);
      border-radius: 0.5rem;

      &:hover {
        background-color: var(--accent-dark);
      }
    }
  }
}
