.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--gray-dark-100);

  .left {
    span {
      color: var(--accent);
    }
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

    svg {
      font-size: 2rem;
      color: var(--accent);
    }
  }

  .center {
    .search {
      display: flex;
      align-items: center;

      &:has(input:focus) {
        .icon {
          outline: 2px solid var(--accent);
        }
      }

      input {
        background-color: var(--gray-light-50);
        border: none;
        border-radius: 2.5rem 0 0 2.5rem;
        height: 2.5rem;
        width: 25rem;
        text-indent: 1.125rem;
        color: var(--foreground);
        font-size: 1.125rem;

        &::placeholder {
          font-size: 1.125rem;
          text-indent: 1rem;
          color: var(--gray-light-600);
        }

        &:focus {
          outline: 2px solid var(--accent);
        }
      }

      .icon {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        height: 2.5rem;
        width: 3rem;
        border-radius: 0 2.5rem 2.5rem 0;
        background-color: var(--accent);
      }
    }
  }

  .right {
    .login {
      background: var(--accent);
      color: var(--gray-dark-800);
      padding: 0.75rem 1.5rem;
      border-radius: 1rem;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      &:hover {
        background: var(--accent-dark);
      }
    }
    .dropdown {
      position: relative;

      button {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        padding: 0 1rem;
        width: 14.375rem;
        height: 3rem;
        color: var(--gray-light-800);
        background: transparent;
        border-radius: 0.5rem;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
      }
    }

    .dropdown > button {
      position: relative;
      z-index: 2;
      background: var(--gray-light-50);
      transition: 0.3s;
    }

    .menu {
      position: absolute;
      overflow: hidden;
      z-index: 1;
      width: 100%;
      height: 8rem;
      opacity: 0;
      transform-origin: 85% 0%;
      transform: scale(0);
      visibility: hidden;
      border-radius: 0.5rem;
      background: var(--gray-light-50);
      transition: 0.4s;
    }

    .dropdown.open .menu {
      transform: scale(1);
      right: 0;
      top: 4.5rem;
      opacity: 1;
      visibility: visible;
    }

    .menu .menuItem {
      border: 0;
      width: 100%;
      height: 2rem;
      border-radius: 0;
      display: block;
      display: flex;
      align-items: center;

      &:last-child {
        background: var(--red);

        &:hover {
          background: var(--red-dark);
        }
      }
    }

    .menu .menuItem:hover {
      background: var(--gray-dark-100);
    }

    .chevron {
      margin-left: auto;
      transition: 0.4s;
    }

    .dropdown.open .chevron {
      transform: rotate(-180deg);
    }
  }
}
