.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: var(--gray-dark-100);

  .left {
    span {
      color: var(--accent);
    }
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;

    svg {
      font-size: 2rem;
      color: var(--accent);
    }
  }

  .center {
    .search {
      display: flex;
      align-items: center;

      &:has(input:focus) {
        .icon {
          outline: 2px solid var(--accent);
        }
      }

      input {
        background-color: var(--gray-light-100);
        border: none;
        border-radius: 2.5rem 0 0 2.5rem;
        height: 2.5rem;
        width: 25rem;
        text-indent: 1.125rem;
        color: var(--foreground);
        font-size: 1.125rem;

        &::placeholder {
          font-size: 1.125rem;
          text-indent: 1rem;
          color: var(--gray-light-600);
        }

        &:focus {
          outline: 2px solid var(--accent);
        }
      }

      .icon {
        display: grid;
        place-items: center;
        font-size: 1.5rem;
        height: 2.5rem;
        width: 3rem;
        border-radius: 0 2.5rem 2.5rem 0;
        background-color: var(--accent);
      }
    }
  }

  .right {
    button {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: none;
      background: var(--gray-light-100);
      padding: 0.25rem 0.5rem;
      padding-left: 0.75rem;
      border-radius: 2rem;
      color: var(--foreground);

      .user-name {
        font-size: 1.5rem;
      }

      img {
        display: block;
        height: 2.225rem;
      }
    }
  }
}
