.file,
.folder {
  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }
}

.file {
  padding-left: 2rem;
}

.folder {
  padding-left: 0.5rem;

  .children {
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &.closed {
      display: none;
    }
  }

  .chevron {
    font-size: 1rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .closedFolder {
    transform: rotate(180deg);
  }
}
