.container {
  .file,
  .folder {
    border-radius: 0.5rem;
    all: unset;
    display: block;
    width: 100%;
    padding-left: 0.25rem;

    &.focused {
      background: var(--gray);
    }

    .content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
      padding-block: 0.05rem;
      color: var(--gray-light-600);
    }
  }

  .file {
    .content {
      margin-left: 1.5rem;
    }
  }

  .folder {
    .children {
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      margin-left: 1rem;

      &.closed {
        display: none;
      }
    }

    .chevron {
      font-size: 1rem;
      transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .closedFolder {
      transform: rotate(180deg);
    }
  }
}
