.modalContainer {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
  z-index: 100;

  .modalBackground {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }

  .modalContent {
    max-height: 70vh;
    height: fit-content;
    width: 90%;
    max-width: 600px;
    background-color: var(--gray);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: static;
    z-index: 999;
    overflow-y: auto;

    .header {
      font-size: 2rem;
      float: right;
      cursor: pointer;
    }
  }
}
