.userChat {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  color: white;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;

  &:hover {
    background-color: var(--gray);
    .userChatInfo {
      transform: scale(1.1);
    }
  }

  .userChatImg {
    position: relative;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .userChatInfo {
    span {
      font-size: 1.125rem;
      font-weight: 500;
    }

    p {
      font-size: 0.875rem;
      color: lightgrey;
    }
  }
}
