.projects {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
.noProjects {
  font-size: 1.125rem;
  font-weight: 600;
  height: 80vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  svg {
    display: block;
    margin-inline: auto;
    max-width: 20rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1000px) {
  .projects {
    grid-template-columns: 1fr;
  }
}
