@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");

:root {
  --accent: #ff8d0a;
  --accent-dark: hsl(32, 100%, 45%);
  --red: #c92b2b;
  --red-dark: #841c1c;
  --green: #17c964;
  --green-dark: #0a6130;
  --background: var(--gray);
  --foreground: var(--gray-light-900);
  --gray-dark-900: #040405;
  --gray-dark-800: #08090a;
  --gray-dark-700: #0c0d10;
  --gray-dark-600: #101215;
  --gray-dark-500: #14161a;
  --gray-dark-400: #181a1f;
  --gray-dark-300: #1c1f24;
  --gray-dark-200: #20232a;
  --gray-dark-100: #24282f;
  --gray: #282c34;
  --gray-light-50: #373d48;
  --gray-light-100: #53565d;
  --gray-light-200: #696b71;
  --gray-light-300: #63656a;
  --gray-light-400: #7e8085;
  --gray-light-500: #94969a;
  --gray-light-600: #a9abae;
  --gray-light-700: #bfc0c2;
  --gray-light-800: #d4d5d6;
  --gray-light-900: #eaeaeb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: inherit;
  text-decoration: none;
}

body.open {
  overflow: hidden;
}

body.closed {
  overflow: auto;
}
